from configparser import ConfigParser


CONTEXT_APPS = {
    'appnav': ['applicationNavigator',],
    'accessmgmt': ['BannerAccessMgmt', 'BannerAccessMgmt.ws',],
    'admincommon': ['BannerAdmin', 'BannerAdmin.ws',],
    'extz': ['BannerExtensibility',],
    'bcm': ['CommunicationManagement',],
    'bep': ['BannerEventPublisher',],
    'ema': ['EllucianMessagingAdapter',],
    'employee': ['EmployeeSelfService',],
    'eeamc': ['ethosapimanagementcenter',],
    'facss': ['FacultySelfService',],
    'financess': ['FinanceSelfService',],
    'general_ss': ['BannerGeneralSsb',],
    'geneventss': ['SelfServiceBannerGeneralEventManagement',],
    'integrationapi': ['IntegrationApi',],
    'sss': ['StudentSelfService',],
    'studentapi': ['StudentApi',],
    'sturegss': ['StudentRegistrationSsb',],
}


BANNER9_ROOT = "^BANNER9_ROOT^"
HUBADO_HOST_UID = ^HUBADO_HOST_UID^
TIMEZONE = "^TIMEZONE^"
