Makefile.local

compose.yaml

Dockerfile
footer.groovy
conf/bep_rabbitmq.env

*.war
*.trz
campus-*.jpg
artifacts/*
vendor/*
volumes/*

contexts/*/*.jar
contexts/*/*.sh
contexts/*/*.xml
contexts/*/footer_*.groovy

contexts/scripts/config.py

__pycache__/
*.swp
