services:
  # External endpoint
  haproxy:
    build:
      context: contexts/haproxy
    logging: &logging-loki
      driver: loki
      options:
        loki-url: "http://127.0.0.1:3100/loki/api/v1/push"
    ports:
      - "80:8080"
      - "443:8443"
    volumes:
      - ./volumes/ssl:/usr/local/etc/haproxy/ssl
    profiles: ["endpoints"]

  # Core application services
  accessmgmt: &tomcat-service
    build:
      context: contexts/accessmgmt
    logging: *logging-loki
    volumes:
      - ./volumes/tomcat-env:/tomcat-env
    profiles: ["core"]

  admincommon:
    <<: *tomcat-service
    build:
      context: contexts/admincommon

  appnav:
    <<: *tomcat-service
    build:
      context: contexts/appnav

  bcm:
    <<: *tomcat-service
    build:
      context: contexts/bcm

  extz:
    <<: *tomcat-service
    build:
      context: contexts/extz

  # SSB9
  employee:
    <<: *tomcat-service
    build:
      context: contexts/employee
    profiles: ["ssb9"]

  financess:
    <<: *tomcat-service
    build:
      context: contexts/financess
    profiles: ["ssb9"]

  general_ss:
    <<: *tomcat-service
    build:
      context: contexts/general_ss
    profiles: ["ssb9"]

  # API services
  eeamc:
    <<: *tomcat-service
    build:
      context: contexts/eeamc
    volumes:
      - ./volumes/tomcat-env:/tomcat-env
      - ./volumes/eeamc-configs/:/configs
    profiles: ["apis"]

  integrationapi:
    <<: *tomcat-service
    build:
      context: contexts/integrationapi
    profiles: ["apis"]

  studentapi:
    <<: *tomcat-service
    build:
      context: contexts/studentapi
    profiles: ["apis"]

  # Jenkins
  jenkins:
    build:
      context: contexts/jenkins
    volumes:
      - /mnt/deploy:/deploy
      - ./volumes/jenkins/start.sh:/opt/jenkins/start.sh:ro
      - ./volumes/jenkins/wgetrc:/home/jenkins/.wgetrc:ro
      - ./volumes/jenkins/war:/war
    profiles: ["jenkins"]

  # Scripts
  scripts:
    build:
      context: contexts/scripts
    logging: *logging-loki
    profiles: ["scripts"]

  # Monitoring
  prometheus:
    image: ubuntu/prometheus
    logging: *logging-loki
    volumes:
      - ./conf/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus:/prometheus
    profiles: ["metrics"]

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    logging: *logging-loki
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    profiles: ["metrics"]

  loki:
    image: grafana/loki
    logging: *logging-loki
    ports:
      - "127.0.0.1:3100:3100"
    volumes:
      - loki:/loki
    profiles: ["metrics"]

  grafana:
    image: grafana/grafana-oss
    logging: *logging-loki
    volumes:
      - ./conf/prometheus-data-source.yml:/etc/grafana/provisioning/datasources/prometheus-data-source.yml:ro
    environment:
      GF_SERVER_ROOT_URL: "^BANNER9_ROOT^/grafana"
      GF_SERVER_SERVE_FROM_SUB_PATH: "true"
      GF_SECURITY_ADMIN_USER: "^GRAFANA_USER^"
      GF_SECURITY_ADMIN_PASSWORD: "^GRAFANA_PASSWORD^"
      GF_SECURITY_COOKIE_SECURE: "true"
      GF_SMTP_ENABLED: "true"
      GF_SMTP_HOST: "^GRAFANA_SMTP_HOST^"
      GF_STARTTLS_POLICY: "MandatoryStartTLS"
    ports:
      - "3000:3000"
    profiles: ["metrics"]

volumes:
  loki:
  prometheus:
