services:
  # External endpoint
  haproxy:
    build:
      context: contexts/haproxy
    ports:
      - "80:8080"
      - "443:8443"
      - "^METRICS_BIND^:9101"
    volumes:
      - ./volumes/ssl:/usr/local/etc/haproxy/ssl
    profiles: ["endpoints"]

  # Core application services
  accessmgmt: &tomcat-service
    build:
      context: contexts/accessmgmt
    volumes:
      - ./volumes/tomcat-env:/tomcat-env
      - ^PICTURES_PATH^:/pictures
      -  ./volumes/employee-employer-logos:/employee-employer-logos
    profiles: ["core"]

  admincommon:
    <<: *tomcat-service
    build:
      context: contexts/admincommon

  appnav:
    <<: *tomcat-service
    build:
      context: contexts/appnav

  bcm:
    <<: *tomcat-service
    build:
      context: contexts/bcm

  extz:
    <<: *tomcat-service
    build:
      context: contexts/extz

  # SSB9
  employee:
    <<: *tomcat-service
    build:
      context: contexts/employee
    profiles: ["ssb9"]

  facss:
    <<: *tomcat-service
    build:
      context: contexts/facss
    profiles: ["ssb9"]

  financess:
    <<: *tomcat-service
    build:
      context: contexts/financess
    profiles: ["ssb9"]

  general_ss:
    <<: *tomcat-service
    build:
      context: contexts/general_ss
    profiles: ["ssb9"]

  geneventss:
    <<: *tomcat-service
    build:
      context: contexts/geneventss
    profiles: ["ssb9"]

  sss:
    <<: *tomcat-service
    build:
      context: contexts/sss
    profiles: ["ssb9"]

  sturegss:
    <<: *tomcat-service
    build:
      context: contexts/sturegss
    profiles: ["ssb9"]

  # API services
  eeamc:
    <<: *tomcat-service
    build:
      context: contexts/eeamc
    volumes:
      - ./volumes/tomcat-env:/tomcat-env
      - ./volumes/eeamc-configs/:/configs
    profiles: ["apis"]

  integrationapi:
    <<: *tomcat-service
    build:
      context: contexts/integrationapi
    profiles: ["apis"]

  studentapi:
    <<: *tomcat-service
    build:
      context: contexts/studentapi
    profiles: ["apis"]

  bpapi:
    <<: *tomcat-service
    build:
      context: contexts/bpapi
    volumes:
      - ./volumes/tomcat-env:/tomcat-env
      - ./volumes/admin-api-app-data:/admin-api-app-data:ro
    profiles: ["apis"]

  # Ethos (besides APIs)
  rabbitmq:
    image: rabbitmq:3.9
    environment:
      EMS_HOST: "^EMS_HOST^"
      EMS_USER: "^EMS_USER^"
      EMS_PASSWORD: "^EMS_PASSWORD^"
    volumes:
      - ./conf/rabbitmq.conf:/etc/rabbitmq/conf.d/30-hubado.conf:ro
      - ./volumes/rabbitmq:/var/lib/rabbitmq
    profiles: ["ethos"]

  bep:
    <<: *tomcat-service
    build:
      context: contexts/bep
    profiles: ["ethos"]

  ema:
    <<: *tomcat-service
    build:
      context: contexts/ema
    environment:
      EMA_CONFIG: ^EMA_KEY^
    volumes:
      - ./volumes/ema/emsConfig.xml:/usr/local/tomcat/webapps/EllucianMessagingAdapter/WEB-INF/emsConfig.xml:rw
      - ./volumes/tomcat-env:/tomcat-env
    profiles: ["ethos"]

  # SSB8
  ssb8:
    build:
      context: contexts/ssb8

  # Jenkins
  jenkins:
    build:
      context: contexts/jenkins
    volumes:
      - /mnt/deploy:/deploy
      - ./volumes/jenkins/start.sh:/opt/jenkins/start.sh:ro
      - ./volumes/jenkins/wgetrc:/home/jenkins/.wgetrc:ro
      - ./volumes/jenkins/war:/war
      - ./volumes/admin-api-app-data:/admin-api-app-data
    profiles: ["jenkins"]

  # Scripts
  scripts:
    build:
      context: contexts/scripts
    profiles: ["scripts"]
