#!/usr/bin/env bash
wget -e auth-no-challenge=off ^JENKINS_URL^/jnlpJars/agent.jar
java -jar agent.jar -jnlpUrl ^JENKINS_URL^/computer/^JENKINS_NODE^/jenkins-agent.jnlp -secret ^JENKINS_SECRET^ -workDir "/opt/jenkins"
