banner9.root=^BANNER9_ROOT^
banner9.proxy.user=^BANNER9_PROXY_USER^
banner9.proxy.password=^BANNER9_PROXY_PASSWORD^
banner9.connection.user=^BANNER9_CONNECTION_USER^
banner9.connection.password=^BANNER9_CONNECTION_PASSWORD^
banner9.events.password=^EVENTS_PASSWORD^
banner9.cdcadmin.password=^CDCADMIN_PASSWORD^
banner9.commmgr.password=^COMMMGR_PASSWORD^
banner9.session_timeout=^BANNER9_SESSION_TIMEOUT^
oracle.host=^ORACLE_HOST^
oracle.sid=^ORACLE_SID^
oracle.service_name=^ORACLE_SERVICE_NAME^
cas.url=^CAS_URL^
cas.logouturl=^CAS_LOGOUT_URL^
institution_name=^INSTITUTION_NAME^

banner8.SS.url=^BANNER8_SS_URL^
banner8.SS.locale.url=^BANNER8_SS_LOCALE_URL^
